.makeStyles-mapContainer-93{
    width: 100%!important;
    margin: auto!important;
    height: 50%!important;
    margin-bottom: 50px!important;
}

.makeStyles-pageTitleContainer-90{
    margin-top: 1px!important;
}